#body{
	height: 100%;
	width: 100%;
}
#background-window{
	position: fixed;
	top: 0;
	background-image: url(../images/fond-Nucleotic.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.title-connexion{
	font-size: 64px;
	font-family: American Typewriter, serif;
	text-shadow: 0.1em 0.1em 0.2em #000;
	text-align: center;
	margin: 60px 0 0 0;
}
#bandeau-connected{
	background-color: rgba(200,200,200,1);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	color: #fff;
	z-index: 10;
}
.title{
	font-size: 46px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	margin : 0;
}
img{
	width: 8%;
}
.login{
	text-align: right;
}
.login > .fa{
	margin-left: 2%;
	margin-right: 7%;
	cursor: pointer;
}
.num{
	position: absolute;
    top: 15%;
    right: 22%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gray;
    color: #fff;
    line-height: 25px;
    font-family: sans-serif;
    text-align: center;
}
#logout{
	color: white;
}
#logout:hover{
	color: red;
}
.admin, .logout{
	font-size: 24px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	cursor: pointer;
	display: inline-block;
	margin-top: 2%;
}
.container-sidebar{
	position: fixed;
	background-color: rgba(0,0,0,0.75);
	height: 100%;
	width: 15%;
	text-align: center;
	padding: 15% 0 0 0;
}
.container-sidebar > .row{
	margin: 0 0 20px 0;
}
.btn{
	font-size: 18px;
}
.btn:hover{
	background-color: lightgray;
	color: black;
}
.container-bdd{
	padding: 50px 30px 0 0;
	z-index: 10;
}
.col-title{
	text-align: center;
}
.title-bdd{
	font-size: 50px;
	font-family: American Typewriter, serif;
	color: #000;
	text-shadow: 0.1em 0.1em 0.2em #fff;
	margin-bottom: 20px;
}
.bdd-name{
	margin: 0;
}
#button-connexion{
	width: 5%;
	float: right;
}