#body{
	height: 100%;
	width: 100%;
}
#background-window{
	position: fixed;
	top: 0;
	background-image: url(../images/fond-Nucleotic.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#connected{
	/*background-color: rgba(200,200,200,1);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	color: #fff;*/
	z-index: 10;
}
.side-bandeau{
	background-color: rgba(0,0,0,0.35);
	margin-left: 2%;
	height: 100%;
	position: fixed;
}
.col-side{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}
.title{
	font-size: 42px;
	color: white;
	text-shadow: 0.1em 0.1em 0.2em #000;
	margin : 15% 0 0 19%;
}
.separator{
	color: white;
	text-shadow: 0.1em 0.1em 0.2em #000;
	opacity: 0.35;
	margin: 10% 0 0 25%;
}
.container-button{
	text-align: center;
	margin-top: 70%;
	padding-left: 13%;
}
.side-btn{
	display: block;
	margin: 10% 0 10% 15%;
	font-size: 20px;
	width: 200px;
	color: white;
	background-color: rgba(255,255,255,0.6);
	text-shadow: 0.1em 0.1em 0.2em #000;
	border-radius: 25px;
}
.side-btn:hover{
	background-color: rgba(255,255,255,0.3);
	text-shadow: 0.1em 0.1em 0.2em #fff;
}
.side-btn:focus{
	background-color: rgba(255,255,255,0.3);
	text-shadow: 0.1em 0.1em 0.2em #fff;
}
.row-notification{
	display: flex;
}
.col-logo{
	margin-top: 1%;
	margin-left: 2%;
}
.col-logo img{
	width: 15%;
}
.col-notification{
	text-align: right;
	padding-right: 0;
	margin-top: 2%;
}
.col-notification .fa-bell{
	margin: 0 5% 0 5%;
	/*color: #00c6ff;*/
}
.col-notification .pseudo-login{
	font-size: 32px;
	font-family: "Arial";
	color: black;
	margin-left: 5%;
	background-image: url("../images/bandeau-notification.png");
	background-size: cover;
	padding: 1%;
}
.col-notification .pseudo-login button{
	margin-right: 5%;
}
.searchbar{
	margin: 5% 0 5% 13%;
	height: 60px;
	background-color: white;
	border: solid 1px black;
	border-radius: 30px;
	padding: 10px;
	width: 75%;
}
.search_input{
	color: black;
	border: 0;
	outline: 0;
	background: none;
	line-height: 40px;
	margin-left: 2%;
}
.search_icon{
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: black;
	cursor: default;
}
.search_icon:hover{
	color: black;
	text-decoration: none;
}
#liste {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.img-connection {
	margin-top: 5%;
	text-align: center;
}
.img-connection img{
	width: 15%;
}
.row-bdd{
	margin: 0 0 0 2.5%;
}
.col-notification .pseudo-login .fas{
	display: inline-block;
    position: relative;
    text-shadow: 0.1em 0.1em 0.2em #000;
    /*padding: 10px;
    border-radius: 5px;
    font-size: 34px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
	background-color: gray;*/
}

.col-notification .pseudo-login .fas::before, 
.col-notification .pseudo-login .fas::after {
    color: gray;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.col-notification .pseudo-login .fas::before {
    display: block;
    content: "\f0f3";
    font-family: "FontAwesome";
    transform-origin: top center;
}

.col-notification .pseudo-login .fas::after {
    font-family: Arial;
    font-size: 0.7em;
    font-weight: 700;
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.col-notification .pseudo-login .fas.notify::before {
    -webkit-animation: ring 1.5s ease;
	animation: ring 1.5s ease;
}

.col-notification .pseudo-login .fas.show-count::after {
    -webkit-transform: scale(1);
    transform: scale(1);
	opacity: 1;
	background-color: white;

}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
    }
    12.5% {
        -webkit-transform: rotate(-30deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
    }
    37.5% {
        -webkit-transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
    }
    62.5% {
        -webkit-transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    12.5% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    37.5% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    62.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
#title{
	font-size: 20px;
	color: white;
	text-shadow: 0.1em 0.1em 0.2em #000;
	margin: 5% 0 0 15%;
}
#subtitle{
	font-size: 16px;
	color: white;
	text-shadow: 0.1em 0.1em 0.2em #000;
	margin: 5% 0 0 15%;
}
.separator-2{
	color: white;
	text-shadow: 0.1em 0.1em 0.2em #000;
	opacity: 0.35;
	margin: 10% 0 0 15%;
}
.side-bdd .panel-heading .checkbox{
	float: right;
	margin-top: 2.5%;
}
.side-bdd .panel-heading img{
	width: 8%;
	margin-right: 2%;
}
#checkeddata{
	margin: 5% 0 0 15%;
}
#checkeddata-2{
	margin: 5% 0 0 15%;
}
.fa-spinner{
	margin-left: 5%;
}